.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__pizza {
    width: 100%;
    height: 100%;

    &-container {
      display: block;
      width: 240px;
      height: 240px;
      margin-bottom: 26px;

      @media (max-width: 568px) {
        width: 215px;
        height: 215px;
        margin-bottom: 24px;
      }
      @media (max-width: 468px) {
        width: 182px;
        height: 182px;
      }
    }
    &-card-container {
      width: 289px;
      height: 289px;
      margin: -18px 20px 0 0;

      @media (max-width: 1024px) {
        width: 250px;
        height: 250px;
      }
      @media (max-width: 768px) {
        width: 220px;
        height: 220px;
      }
      @media (max-width: 680px) {
        margin-top: 5px;
        transform: translateX(3px);
      }
    }
  }

  &__title {
    &-container {
      display: block;
      width: 100%;
      height: 24px;
      margin-bottom: 21px;

      @media (max-width: 568px) {
        margin-bottom: 17px;
      }
    }
  }

  &__description {
    min-height: 120px;
    margin-bottom: 28px;
    &-container {
      display: block;

      @media (max-width: 568px) {
      }
    }
  }

  &__selector {
    height: 100%;
    &-container {
      display: block;
      width: 100%;
      height: 87px;
    }
    &-card-container {
      height: 117px;
    }
  }
  &__bottom {
    width: 100%;
  }
  &__price {
    width: 100%;
    height: 100%;
    &-container {
      display: block;
      width: 90px;
      height: 27px;

      @media (max-width: 568px) {
        width: 66px;
      }
    }
    &-card-container {
      width: 111px;
      height: 35px;
    }
  }
  &__add {
    width: 100%;
    height: 100%;
    border-radius: 20px !important;
    &-container {
      display: block;
      width: 155px;
      height: 46px;

      @media (max-width: 568px) {
        width: 118px;
        height: 32px;
      }
    }
    &-card-container {
      width: 130px;
      height: 40px;
    }
  }
  &__back {
    width: 100%;
    height: 100%;
    border-radius: 20px !important;
    &-container {
      display: block;
      width: 210px;
      height: 46px;
      @media (max-width: 568px) {
      }
    }
  }
}
